.ib-body-container{
    display: flex;
    padding: 0 5rem;
    margin-top: 6rem;
}
.ib-static-image-area{
    display: none;
}
.ib-area-image{
    display: none;
}
.ib-animated-image{
    display: block;
    width: 100%;
}
.ib-text-area{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.ib-body-container .ib-static-image-area{
    flex:1;
    display: block;
}
.ib-text-area h6{
    font-size: 2rem;
}
.animated-left{
   width: 20%;
   transform: scale(0.65) translate(-50%,-50%);
}
.animated-right{
   
   width: 20%;
   transform: scale(1.25) translate(-150%,-20%);
}
@media (max-width:1200px){
    .ib-body-container{
        flex-direction: column;
        gap:2rem;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        margin-top: 2rem;
    }
    .ib-animated-image{
        display: none;
    }
    .ib-static-image-area{
        display: block;
        text-align: center;
        width: 100%;
    }
    .ib-area-image{
        display: block;
        width: 100%;
    }
    .ib-text-area{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
        gap:1rem
    }
    .ib-text-area h3{
        margin-top: 0;
    }
    .ib-text-area h6{
        margin-top: 0;
    }
}