@charset "utf-8";
	.Wimage7
{
	
	position : absolute ;
	left : 85px;
	top : 117px;
	width : 96px;
	height : 200px;
}
.Wimage5
{
	
	position : absolute ;
	left : 88px;
	top : 145px;
	width : 391px;
	height : 178px;
}
.Wimage4
{
	
	position : absolute ;
	left : 185px;
	top : 92px;
	width : 83px;
	height : 72px;
}
.Wimage
{

	position : absolute ;
	left : 348px;
	top : 66px;
	width : 49px;
	height : 106px;
}
.Wimage1
{

	position : absolute ;
	left : 351px;
	top : 125px;
	width : 112px;
	height : 192px;
}
.Wimage2
{
	
	position : absolute ;
	left : 271px;
	top : 147px;
	width : 63px;
	height : 25px;
}
.Wimage3
{
	
	position : absolute ;
	left : 434px;
	top : 62px;
	width : 28px;
	height : 99px;
}
.Wimage6
{
	
	position : absolute ;
	left : 96px;
	top : 216px;
	width : 392px;
	height : 104px;
}
