.who-container {
    padding: 0 5rem;
    margin-top: 3rem;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    background: linear-gradient(45deg, var(--ins-secondary), var(--ins-primary));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    font-size: 2rem;
}

.who-back {
    width: fit-content;
    text-align: center;
}

.who-image-text {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.who-image {
    width: 50%;
}

.who-text {
    width: 50%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


@media (max-width:600px) {
    .who-container {
        padding: 0 2rem;
    }

    .who-image-text {
        flex-direction: column;
    }

    .who-image {
        width: 100%;
    }

    .who-text {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 0;
        font-size: 12px;
    }
    .who-text h1,p,a{
        margin-top: 2rem;
    }
}