.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 2rem 8rem;
    width: 100%;
    
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 10px;
    width: 50%;
    padding: 0;
    margin: 0;

}

.list {
    list-style: none;
    display: flex;
    gap: 2rem;
   
}
.list li{
    font-size: 1.2rem;
}
#toggler, .navbar i {
    display: none;
}

.hamburger{
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.line{
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: transparent;
    border-radius: 3px;
    transition: transform .25s, opacity .35s;
}
.line--top{
    transform: translateY(-7px);
}
.line-bottom{
    transform: translateY(7px);
}
#toggler:checked~.line--top{
    transform: rotate(45deg);
}
#toggler:checked~.line--bottom{
    transform: rotate(-45deg);
}
#toggler:checked~.line--middle{
    transform: translateX(16px);
    opacity: 0;
}

@media screen and (max-width:768px) {
    .navbar {
        padding: 2rem 2rem;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;


    }
    .logo img{
        width: 100%;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar i {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 0rem 0rem;
    }

    #toggler:checked~.menu {
        max-height: 100%;

    }
}

.menu-btn {
    background-color: transparent;
    border-radius: 25%;
    border: 1px solid rgba(0, 0, 0, 0.062);
    padding: 50% !important;
    color: rgba(0, 0, 0, 0.062);
}