.footer-container {
    background-color: #f3f3f3;
    margin-top: 5rem;
    padding: 0 5rem;
    border: 1px solid red;
    
}

.ins-row {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;

}

.ins-row .ins-col-3 {
    width: 30%;
}

.footer-logo {
    margin-top: 2rem;
    width: 75%;
}

.footer-address {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
}

.footer-socialmedia ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.footer-email {
    margin-top: 2rem;
}

.footer-phone {
    margin-top: 1rem;
}

.footer-work {
    color: rgb(122, 122, 122);
    margin-top: 2rem;
}

.work-hours {
    list-style: none;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 0.75rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    color: rgb(122, 122, 122);
}

.footer-map {
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 0px rgb(170, 169, 169);
    border: 1px solid red;
}

@media screen and (max-width:600px) {
    .footer-container {
        padding: 0 2rem;
    }

    .ins-row {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .ins-row .ins-col-3 {
        width: 100%;
    }

    .footer-map {
        text-align: center;
        width: 90%;
    }

    .work-hours {
        margin-left: 0;
    }
}