.footer-container {
    background-color: transparent;
    margin-top: 5rem;
    padding: 0 5rem;
    box-shadow: 5px 0 10px rgb(221, 221, 221);

    
}

.ins-row {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;

}

.ins-row .ins-col-3 {
    width: 30%;
}

.footer-logo {
    margin-top: 2rem;
    width: 75%;
}

.footer-address {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.footer-socialmedia ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
}
.footer-socialmedia ul li a{
   text-decoration: none;
   color: var(--ins-primary);
   font-size: x-large;
   transition: 1s ease-out;
}
.footer-socialmedia ul li:hover{
    /* cursor: pointer; */
    color:var(--ins-secondary);
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

.footer-email {
    margin-top: 1rem;
}

.footer-phone {
    margin-top: 1rem;
}

.footer-work {
    color: rgb(122, 122, 122);
    margin-top: 2rem;
}

.work-hours {
    list-style: none;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    color: rgb(122, 122, 122);
}

.footer-map {
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 0px rgb(170, 169, 169);

}

@media screen and (max-width:786px) {
    .footer-container {
        padding: 0 1rem;
    }

    .ins-row {
        padding: 0rem;
        display: flex;
        flex-wrap: wrap;
    }

    .ins-row .ins-col-3 {
        width: 100%;
    }

    .footer-map {
        text-align: center;
        width: 90%;
    }

    .work-hours {
        margin-left: 0;
    }
}